* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	background: #060ab2;
}
.memoryGame {
	width: 640px;
	height: 640px;
	display: flex;
	border: 2px solid lime;
}
.memoryCard {
	flex: 1;
	border: 2px solid aqua;
}
.frontFace, .backFace {
	border: 2px solid deeppink;
}